@inherits LayoutComponentBase
<div class="flex h-screen">
    <div class="w-1/5 bg-gray-900/85 text-white">
        <NavMenu />
    </div>

    <main class="w-4/5 bg-gray-900 text-white p-6">
        @Body
    </main>
</div>
