@inherits LayoutComponentBase
<div class="flex h-screen @classeBotao" @onmousedown="MouseButtonDown" @onmouseup="MouseButtonUp">
    <div class="w-1/5 bg-gray-900/85 text-white">
        <NavMenu />
    </div>

    <main class="w-4/5 bg-gray-900 text-white">
        <article class="px-4 py-8">
            @Body
        </article>
    </main>
</div>

@code{

    string classeBotao = "mouse-up";

    void MouseButtonDown(MouseEventArgs e){
        classeBotao = "mouse-down";
    }

    void MouseButtonUp(MouseEventArgs e)
    {
        classeBotao = "mouse-up";
    }
}

<style>
    .mouse-up{
        cursor: url('/cursor/cursorNormal.png'), auto;
    }

    .mouse-down{
        cursor: url('/cursor/cursorClicado.png'), auto;
    }
</style>
